<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="MavsBanking" connectionString="Data Source=182.50.133.110;Initial Catalog=StaffClient;User ID=shoolini;Password=eSvk366*;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=300;" providerName="System.Data.SqlClient" />-->
    <!--add name="MavsBanking" connectionString="Data Source=AVS-PC10;Initial Catalog=AVSHS;User ID=sa;Password=avs@123;Min Pool Size=5; Max Pool Size=1000;Timeout=3000;" providerName="System.Data.SqlClient"/>
    <!<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AVSBanking-20151005121959;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AVSBanking-20151005121959.mdf"/>-->
    <!--<add name="DBCS" connectionString="Data Source=103.228.152.231;Initial Catalog=CISCS_test;User ID=sa;Password=sa@123;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=30000;"  providerName="System.Data.SqlClient" />-->
    <!--<add name="DBCS" connectionString="Data Source=103.228.152.231;Initial Catalog=AVSDOCVERIFY;User ID=csb;Password=09*aBo#W;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=30000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="CISCS_testEntities1" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.228.152.231;initial catalog=AVSDOCVERIFY;user id=csb;password=09*aBo#W;min pool size=5;max pool size=1000;connect timeout=30000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DBCS" connectionString= "Data Source=103.228.152.233;Initial Catalog=AVSDOCVERIFY;User ID=sa;Password=GxR67mNj0;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=30000;" providerName="System.Data.SqlClient" />
    <add name="CISCS_testEntities1" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Data Source=103.228.152.233;Initial Catalog=AVSDOCVERIFY;User ID=sa;Password=GxR67mNj0;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=30000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DBCS" connectionString="Data Source=192.168.20.151;Initial Catalog=AVSDOCVERIFY;User ID=sa;Password=Mssql@2023;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=30000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="CISCS_testEntities1" connectionString="Data Source=192.168.20.150;Initial Catalog=AVSDOCVERIFY;User ID=dev;Password=Pa55w@rd;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=30000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="CISCS_testEntities1" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.151;Initial Catalog=AVSDOCVERIFY;User ID=sa;Password=Mssql@2023;min pool size=5;max pool size=1000;connect timeout=30000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>

  <system.web>

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>

      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <!--<add assembly="Microsoft.Office.Tools.Excel, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>

    </compilation>
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5" />
    <globalization culture="en-NZ" uiCulture="en-NZ" />
    <sessionState timeout="3000"></sessionState>
    <!--    <customErrors mode="Off" />-->
    <authentication mode="Forms">
        <forms slidingExpiration="true"></forms>
      </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="API_KEY" value="ab99eb67-b250-42a2-9a23-f09d0bd0b5aa" />
    <add key="Authorisedkey" value="TVRJek5EVTJOelUwTnpKRFQxSlFNREF3TURFPQ==" />

    <add key="SALT" value="3c62f06d3ca71c4459b511add16acc8042d03183" />
    <add key="MODE" value="TEST" />
    <add key="AGGREPAY_URL" value="https://biz.aggrepaypayments.com/v2/paymentrequest" />
    <add key="RETURN_URL" value="http://localhost:52475/PaymentResponse.aspx" />
    <!--<add key="hashSequence" value="SALT|address_line_1|address_line_2|amount|api_key|city|country|currency|description|email|mode|name|order_id|phone|return_url|state|udf1|udf2|udf3|udf4|udf5|zip_code"/>-->
    <add key="hashSequence" value="SALT|amount|api_key|city|country|currency|description|email|mode|name|order_id|phone|return_url|zip_code" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <!--<add key="Token" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MDE0NjYzOTgsIm5iZiI6MTYwMTQ2NjM5OCwianRpIjoiMTNkNzI2NGItNjA4OS00ZTE1LTllMmItNThhMDIzYzZhMjU5IiwiZXhwIjoxNjA0MDU4Mzk4LCJpZGVudGl0eSI6ImRldi5hdnNpbnNvdGVjaEBhYWRoYWFyYXBpLmlvIiwiZnJlc2giOmZhbHNlLCJ0eXBlIjoiYWNjZXNzIiwidXNlcl9jbGFpbXMiOnsic2NvcGVzIjpbInJlYWQiXX19.j7yYyOJ3tq1GsyLbbdoD7EYa4Nj8lOcEegbJd7voNS4" />-->
    <!--<add key="Token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0aW1lc3RhbXAiOjE2ODMwMTQwODYsInBhcnRuZXJJZCI6IkNPUlAwMDAwMSIsInJlcWlkIjoiOTg0OTMyOTQ5aGppZiJ9.MaZdp6pAhstNS1oqoIAkGUeZ6IzHjxazwdGTcH1UPg4" />-->
    <add key="Token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0aW1lc3RhbXAiOjE2ODM3MDA1MTEsInBhcnRuZXJJZCI6IkNPUlAwMDAwMzYzIiwicmVxaWQiOiI3Njc2NTY0NTM1NTc4In0.nBv24fO2W_e8kgkqGfMbDRAY2iKK-hcV5HvbMZcw6e8" />
   

    <add key="AadharV1" value="https://api.verifya2z.com/api/v1/aadhaar-validation/aadhaar-validation" />
    <!--<add key="AadharV2" value="https://api.verifya2z.com/api/v1/aadhaar-v2/generate-otp" />-->
    <add key="AadharV2" value="https://api.verifya2z.com/api/v1/verification/aadhaar_sendotp" />
    <!--<add key="AadharV2SMS" value="https://api.verifya2z.com/api/v1/aadhaar-v2/submit-otp" />-->
    <add key="AadharV2SMS" value="https://api.verifya2z.com/api/v1/verification/aadhaar_verifyotp" />
    <add key="PANUrl" value="https://api.verifya2z.com/api/v1/verification/pan_verify" />
    <add key="VoterUrl" value="https://sandbox.aadhaarkyc.io/api/v1/voter-id/voter-id" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
    </handlers>
  </system.webServer>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="FrmLogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.10.0" newVersion="5.5.10.0" />
      </dependentAssembly>
    </assemblyBinding>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>

    <generatePublisherEvidence enabled="false" />
    <performanceScenario value="HighDensityWebHosting" />

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>